*{
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body{
  background-color: #21232A;
  padding: 0 10px 0 40px;
}

input{
  border-radius: 10px;
  color: black;
  font-size: 1.2rem;
  /* margin: 0 20px; */
  width: 100%;
}

h3, h2{
  color: white;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  width: 200px;
}

.card p{
  padding: 5px;
  text-align: center;
}

.card img{
  width: 100%;
  max-height: 370px;
}

@media only screen and (max-width:470px) {

  body{
    padding: 0 30px 0 0;
  }

  .card{
    width: 100%;
  }
}
